/.idea

/assets/node_modules
/assets/package-lock.json
/assets/yarn.lock

/dist

/docker/.env
/docker/log
/docker/mariadb/data

/modx/.env
/modx/assets
/modx/connectors
/modx/core
/modx/manager
/modx/setup
/modx/config.core.php
/modx/ht.access
/modx/index.html
/modx/index.php
